.Chats {
  display: flex;
  flex-direction: row;
  width: 100vw; // TODO:: FIX THESE STYLES LATER
  height: 100vh;
  &__left {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #2f2d52;
    width: 300px;
    margin-left: 210px;

    &__top {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__placeholder {
    height: 100vh;
    flex: 1;
  }
}
