.Discovery {
  display: flex;
  flex-direction: column;
  padding: 14px 24px;
  gap: 12px;

  flex: 1 1 0;
  overflow-y: auto;

  &__input {
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    // padding: 14px 24px;

    &__top {
      display: flex;
      flex-direction: row;
      gap: 10px;
      &__middle {
        font-size: 14px;
        display: flex;
        flex-direction: column;
      }
    }
    &__button {
      width: 30px;
      height: 30px;
      background: #c3c7cac4;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      border: none;
      text-decoration: none;
      transition: 300ms ease;

      &:hover {
        background-color: #956fd6;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
