.FormItem {
  width: 310px;
  margin-bottom: 30px;
  &__label {
    display: block;
    margin-bottom: 10px;
    opacity: 0.8;
    font-weight: 600;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__input {
    border: 1px solid #e9ebec;
    -webkit-box-shadow: 0 2px 4px rgba(25, 34, 29, 0.05);
    box-shadow: 0 2px 4px rgba(25, 34, 29, 0.05);
    width: 100%;
    padding: 0 16px;
    height: 44px;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
  }
  &__icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
  }
}
