.SingleChat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;

  &__username {
    height: 50px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
  }
}
