@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}
.SignUp {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;

  &__title {
    color: blue;
    font-size: 2em;
    color: #fff;
    text-align: center;
  }
  &__form {
  }
  &__switchForm {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
    &__link {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      :hover {
        text-decoration: underline;
      }
    }
    button {
      width: 100%;
      height: 20px;
      border-radius: 40px;
      background: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1em;
      font-weight: 600;
    }
  }
}
