.FormPassword {
  width: 310px;
  margin-bottom: 0px;
  margin-top: 20px;
  &__label {
    display: block;
    margin-bottom: 10px;
    opacity: 0.8;
    font-weight: 600;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__wrapper {
    border: 1px solid #e9ebec;
    -webkit-box-shadow: 0 2px 4px rgba(25, 34, 29, 0.05);
    box-shadow: 0 2px 4px rgba(25, 34, 29, 0.05);
    width: 100%;
    height: 44px;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding: 0;
    overflow: hidden;
    margin-bottom: 0px;
  }
  &__input {
    box-sizing: border-box;
    display: block;
    height:100%;
    border: 1px solid transparent;
    padding-left: 20px;
    -webkit-box-shadow: 0 2px 4px rgba(25, 34, 29, 0.05);
    box-shadow: 0 2px 4px rgba(25, 34, 29, 0.05);
    width: 100%;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding-right: 40px;
    &:focus {
      border: 2px solid rgb(37, 150, 190);
    }
  }
  &__errorInput {
    padding-left: 20px;
      box-sizing: border-box;
      border: 1px solid #e9ebec;
      -webkit-box-shadow: 0 2px 4px rgba(25, 34, 29, 0.05);
      box-shadow: 0 2px 4px rgba(25, 34, 29, 0.05);
      width: 100%;
      height: 44px;
      border: 2px solid red;
      background: #fff;
      border-radius: 6px;
      outline: none;
      font-size: 14px;
      font-weight: 500;
      // margin-bottom: 20px; 
      margin-top: 0px;
      &:focus {
        border: 2px solid rgb(37, 150, 190);
      }
  }
  &__visibilityIcon {
    z-index: 999999;
    position: absolute !important;
    right: 2px;
    top: 2px;
  }
}
