.Sidebar {
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background: red;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;

  gap: 12px;

  &__search {

  }

  &__activeUsersList {
    &__item {
    }
  }
}
